Repository phasehq/console, pull requests merged in 2025-05, with the labels that each got.

#552 feat: filter secret logs
  backend/backend/graphene/types.py
  backend/backend/schema.py
  frontend/apollo/gql.ts
  frontend/apollo/graphql.ts
  frontend/apollo/schema.graphql
  frontend/components/logs/KmsLogs.tsx
  frontend/components/logs/SecretLogs.tsx
  frontend/graphql/queries/apps/getAppAccounts.gql
  frontend/graphql/queries/getAppKmsLogs.gql
  frontend/graphql/queries/secrets/getAppSecretsLogs.gql
Labels: enhancement, frontend, backend

#555 fix: misc ui fixes to log table and filter
  frontend/components/logs/SecretLogs.tsx
Labels: bug, frontend

#557 fix: correctly handle date range selection when filtering logs
  backend/version.txt
  frontend/components/logs/SecretLogs.tsx
Labels: bug, frontend

#558 fix: misc UI and copy fixes
  frontend/app/[team]/access/network/_components/ManageOrgGlobalPolicies.tsx
  frontend/components/access/UpdateAccountNetworkPolicies.tsx
  frontend/components/logs/SecretLogs.tsx
  frontend/ee/billing/UpgradeDialog.tsx
Labels: bug, enhancement, frontend

#560 feat: warn when leaving page with unsaved secret changes
  frontend/app/[team]/apps/[app]/_components/AppSecrets.tsx
  frontend/app/[team]/apps/[app]/environments/[environment]/[[...path]]/page.tsx
  frontend/hooks/warnUnsavedChanges.ts
  frontend/package.json
  frontend/yarn.lock
Labels: enhancement, frontend

#563 feat: GitHub enterprise auth
  backend/api/authentication/adapters/github.py
  backend/api/authentication/adapters/gitlab.py
  backend/api/authentication/adapters/google.py
  backend/api/urls.py
  backend/api/views/auth.py
  backend/backend/settings.py
  backend/ee/authentication/sso/oauth/github_enterprise/provider.py
  backend/ee/authentication/sso/oauth/github_enterprise/views.py
  frontend/components/auth/SignInButtons.tsx
  frontend/ee/authentication/sso/oidc/util/githubEnterpriseProvider.ts
  frontend/package.json
  frontend/pages/api/auth/[...nextauth].ts
  frontend/yarn.lock
Labels: enhancement, dependencies, frontend, backend

#566 fix: ensure role dropdowns render below menu button
  backend/version.txt
  frontend/app/[team]/access/members/_components/RoleSelector.tsx
  frontend/app/[team]/access/service-accounts/_components/RoleSelector.tsx
Labels: bug, frontend

#571 feat: split integration tabs into pages
  frontend/app/[team]/integrations/credentials/page.tsx
  frontend/app/[team]/integrations/layout.tsx
  frontend/app/[team]/integrations/page.tsx
  frontend/app/[team]/integrations/syncs/page.tsx
  frontend/app/[team]/page.tsx
  frontend/components/common/CommandPalette.tsx
  frontend/components/dashboard/GetStarted.tsx
  frontend/components/layout/Sidebar.tsx
  frontend/components/syncing/ProviderCredentialPicker.tsx
Labels: enhancement, frontend

#570 feat: sync secrets to github enterprise instances
  backend/api/services.py
  backend/api/tasks.py
  backend/api/utils/syncing/auth.py
  backend/api/utils/syncing/github/actions.py
  backend/api/views/auth.py
  backend/backend/urls.py
  backend/tests/__init__.py
  backend/tests/utils/syncing/test_github_actions.py
  backend/version.txt
  frontend/Dockerfile
  frontend/app/[team]/integrations/credentials/page.tsx
  frontend/app/[team]/integrations/layout.tsx
  frontend/app/[team]/integrations/page.tsx
  frontend/app/[team]/integrations/syncs/page.tsx
  frontend/app/[team]/page.tsx
  frontend/components/common/CommandPalette.tsx
  frontend/components/common/Input.tsx
  frontend/components/dashboard/GetStarted.tsx
  frontend/components/layout/Sidebar.tsx
  frontend/components/syncing/CreateProviderCredentials.tsx
  frontend/components/syncing/CreateProviderCredentialsDialog.tsx
  frontend/components/syncing/GitHub/SetupGhAuth.tsx
  frontend/components/syncing/ProviderCredentialPicker.tsx
  frontend/scripts/replace-variable.sh
  frontend/utils/syncing/general.ts
Labels: enhancement, frontend, backend

#561 fix: misc tweaks and improvements to account list pages
  frontend/app/[team]/access/members/page.tsx
  frontend/app/[team]/access/service-accounts/page.tsx
Labels: enhancement, frontend
