Repository phasehq/console, pull requests merged in 2025-03, with the labels that each got.

#493 feat: assign roles to user invites
  backend/api/migrations/0096_organisationmemberinvite_role.py
  backend/api/models.py
  backend/backend/graphene/mutations/organisation.py
  backend/backend/graphene/types.py
  frontend/apollo/gql.ts
  frontend/apollo/graphql.ts
  frontend/apollo/schema.graphql
  frontend/app/[team]/access/members/_components/InviteDialog.tsx
  frontend/app/[team]/access/members/page.tsx
  frontend/app/invite/[invite]/page.tsx
  frontend/components/common/GenericDialog.tsx
  frontend/graphql/mutations/organisation/inviteNewMember.gql
  frontend/graphql/queries/organisation/getInvites.gql
  frontend/graphql/queries/organisation/validateOrganisationInvite.gql
Labels: enhancement, frontend, backend, updates migrations

#496 fix: user menu z index
  frontend/components/logs/SecretLogs.tsx
Labels: frontend

#506 fix: service account token ux
  frontend/app/[team]/access/service-accounts/[account]/_components/DeleteServiceAccountTokenDialog.tsx
  frontend/app/[team]/access/service-accounts/[account]/page.tsx
  frontend/utils/tokens.ts
Labels: enhancement, frontend
